# Compiled class file
*.class

# Log files
*.log

# IntelliJ IDEA files
.idea/

# Eclipse files
.project
.classpath
.settings/

# Maven files
target/

# Gradle files
.gradle/
build/

# Operating System Files
.DS_Store
Thumbs.db
